*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container{
    height: 50px;
}
header .first-row{
    background-color: rgb(130, 222, 243);
    min-width: 100%;
}
header .first-row .box{
   height: 30px;
   background-color: orange;
   border: 1px dashed black;
 
}

header .small{
   width: 200px;
  }
  header .small:last-child{
    text-align:end;
  }
  header .large{
    width: 400px;
    text-align: center;
  }
  .second-row{
    background-color: rgb(23, 23, 161);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .second-row .box{
   height: 300px;
   width: 600px;
   background-color: fuchsia;
   border: 1px dashed black;
  }
  main .container{
    height: 400px;
  }
.third-row .left-box{
    background-color: rgb(56, 145, 234);
    height: 300px;
    width: 500px;
    border: 1px dashed black;
}

.third-row .right-box{
    background-color: pink;
    border: 1px dashed black;
    height: 300px;
    width: 300px;
}
.third-row.reversed .container{
    flex-direction: row-reverse;
    background-color: lightgrey;
}
.fourth-row .container{
    background-color: lightgrey;
    height: 700px;
}
.fourth-row .big-box{
    background-color:rgb(45, 112, 45);
    height: 600px;
    width: 800px;
    border: 1px dashed black;
}
